[tool.poetry]
name = "steganodf"
version = "0.1.0"
description = "Functions to add steganographic message to a dataframe with row permutation"
authors = ["Sacha Schutz <sacha@labsquare.org>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.10"
more-itertools = "^9.1.0"
pandas = "^2.0.2"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
