name: Deploy steganodf web page

on:
  push:
    branches:
      - deploy
permissions:
  contents: write
    
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4 

      - name: Setup Python
        uses: actions/setup-python@5
        with:
          python-version: '3.13'

      - name: Install python deps 
        run: |
          python -m pip install build

      - name: Build wheel package
        run: |
          python -m build --wheel --outdir www/

      - name: Download polars
        run: wget -P www https://github.com/pola-rs/polars/releases/download/py-1.19.0/polars-1.19.0-cp39-abi3-emscripten_3_1_58_wasm32.whl

      - name: Download reedsolo
        run: wget -P www https://files.pythonhosted.org/packages/09/19/1bb346c0e581557c88946d2bb979b2bee8992e72314cfb418b5440e383db/reedsolo-1.7.0-py3-none-any.whl

      - name: Check files 
        run: |
          ls www/

      - name: Deploy page
        uses: JamesIves/github-pages-deploy-action@v4 
        with:
          folder: www
          token: ${{ secrets.GITHUB_TOKEN }} 
